@model LibraryManagementSystem.Models.IssueBookView

@{
    ViewData["Title"] = "Issue Books";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
    int currentYear = DateTime.Now.Year;
}

<h3>@ViewData["Title"]?.ToString()</h3>
<hr />

@if (!string.IsNullOrWhiteSpace(successMessage))
{
    <div class="alert alert-success">
        <b>Success : </b>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <b>Error : </b>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="post" asp-action="CreateIssueBook" class="mt-3" autocomplete="off">
    <div class="mb-3">
        <label class="form-label">Select Book</label>
        <select class="form-control" asp-items="Model.SelectBookList" asp-for="CreateIssueBookRequest.ReferenceNumber">
        </select>
        <span asp-validation-for="CreateIssueBookRequest.ReferenceNumber" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Select Student</label>
        <select class="form-control" asp-items="Model.SelectStudentList" asp-for="CreateIssueBookRequest.StudentID">
        </select>
        <span asp-validation-for="CreateIssueBookRequest.StudentID" class="text-danger"></span>
    </div>
    <div class="mb-5">
        <label class="form-label">Return Date</label>
        <input type="date" class="form-control" asp-for="CreateIssueBookRequest.ReturnDate" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="CreateIssueBookRequest.ReturnDate" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" class="btn btn-primary form-control" />
    </div>
</form>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}